In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

stars_dataset = pd.read_csv('datos/stars.csv')

In [4]:
stars_dataset.head()

          u         g         r         i  class
0  23.87882  22.27530  20.39501  19.16573      0
1  24.77759  22.83188  22.58444  21.16812      0
2  25.26307  22.66389  20.60976  19.34857      0
3  22.13682  23.77656  21.61162  20.50454      0
4  19.43718  17.58028  16.49747  15.97711      0

In [ ]:
import sklearn.model_selection

X = stars_dataset.drop(columns=['target'])
y = stars_dataset['target']
TEST_SIZE = 0.2

X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, random_state=4, test_size=TEST_SIZE)